.side {
  float: right;
  width: 20%;
}

.picture {
  margin: 2.5%;
}

.project {
  margin-bottom: 5%;
  margin-top: 4.5%;
  outline: 10px;
  background-color: #aab5c7;
  padding: 2%;
  padding-left: 5%;
}

.centered {
  text-align: center;
  margin-top: -5%;
}

.bg {
  background-color:rgb(140, 157, 180)
}

a:visited {
  color:rgb(150, 35, 35);
}

a:link {
  color:rgb(245, 35, 35);
}

.bord {
  border: 5px solid #aab5c7;
  padding: 15px;
  padding-bottom: 0px;
  margin: -15px;
  margin-bottom: 5px;
  background-color: rgb(156, 176, 202);
}